@model MYSALE.Models.Task
@{ViewBag.Title = "Новая задача, да, брат?";}

<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Новая задача</h4>
                <hr />
                <div class="form-group">
                    @*@Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-12">
                        @*<label for="sel1">Категория</label>*@
                        <select class="form-control" id="Company" name="Company">
                            <option value="1">Еда</option>
                            <option value="2">Досуг и развлечения</option>
                            <option value="3">Одежда</option>
                            <option value="4">Спорт</option>
                            <option value="5">Образование</option>
                            <option value="6">Путешествия</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class=" col-md-12">
                        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Finish, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Finish, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class=" col-md-12">
                        <input type="submit" value="Создать" class="btn btn-success" />
                        @Html.ActionLink("Вернуться", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">

    </div>
</div>